{% extends "base.html" %}
{% block content %}
<h2 style="text-align:center;">📝 Create an Account</h2>
<div class="form-box">
    <form action="#" method="POST">
        <label>Username:</label><br>
        <input type="text" name="username"><br><br>

        <label>Email ID:</label><br>
        <input type="email" name="email"><br><br>

        <label>Password:</label><br>
        <input type="password" name="password"><br><br>

        <button type="submit">Sign Up ✅</button>
    </form>
</div>
{% endblock %}